body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:90px;
  top:20px;
  width:300px;
  height:30px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u4 {
  position:absolute;
  left:380px;
  top:375px;
  width:50px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:395px;
  top:380px;
  width:20px;
  height:20px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:375px;
  width:330px;
  height:30px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:30px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:50px;
  top:400px;
  width:300px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u10 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:30px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:476px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:90px;
  top:50px;
  width:300px;
  height:440px;
  overflow:hidden;
  visibility:hidden;
}
#u16_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u16_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:440px;
}
#u18 {
  position:absolute;
  left:2px;
  top:212px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:50px;
  width:300px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u20 {
  position:absolute;
  left:10px;
  top:0px;
  width:280px;
  height:56px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u21 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:100px;
  width:300px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u23 {
  position:absolute;
  left:10px;
  top:50px;
  width:280px;
  height:56px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u24 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:150px;
  width:300px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u26 {
  position:absolute;
  left:10px;
  top:100px;
  width:280px;
  height:56px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u27 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:200px;
  width:300px;
  height:10px;
}
#u28_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u28_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u29 {
  position:absolute;
  left:10px;
  top:150px;
  width:280px;
  height:56px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u30 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:250px;
  width:300px;
  height:10px;
}
#u31_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u31_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u32 {
  position:absolute;
  left:10px;
  top:200px;
  width:280px;
  height:56px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u33 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:300px;
  width:300px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u35 {
  position:absolute;
  left:10px;
  top:250px;
  width:280px;
  height:56px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u36 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:400px;
  width:300px;
  height:10px;
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u38 {
  position:absolute;
  left:10px;
  top:350px;
  width:280px;
  height:56px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u39 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:350px;
  width:300px;
  height:10px;
}
#u40_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u40_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u41 {
  position:absolute;
  left:10px;
  top:300px;
  width:280px;
  height:56px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u42 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:0px;
  top:450px;
  width:300px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  height:1px;
}
#u44 {
  position:absolute;
  left:10px;
  top:400px;
  width:280px;
  height:56px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:56px;
}
#u45 {
  position:absolute;
  left:0px;
  top:20px;
  width:280px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:470px;
  width:480px;
  height:330px;
  overflow:hidden;
  visibility:hidden;
}
#u46_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:330px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u46_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:331px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:331px;
}
#u48 {
  position:absolute;
  left:2px;
  top:158px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u49 {
  position:absolute;
  left:90px;
  top:40px;
  width:300px;
  height:10px;
}
#u49_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_end {
  position:absolute;
  left:283px;
  top:-5px;
  width:18px;
  height:20px;
}
#u49_line {
  position:absolute;
  left:0px;
  top:4px;
  width:300px;
  height:2px;
}
#u50 {
  position:absolute;
  left:410px;
  top:20px;
  width:50px;
  height:30px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u51 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:426px;
  top:26px;
  width:19px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:18px;
}
#u53 {
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:30px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u55 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:30px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u57 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
