body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u1 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:800px;
}
#u3 {
  position:absolute;
  left:2px;
  top:392px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:7px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:90px;
  top:22px;
  width:370px;
  height:25px;
}
#u6_input {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  background-color:transparent;
  text-align:left;
  font-family:'Arial';
  font-size:16px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
  border-color:transparent;
  outline-style:none;
}
#u7 {
  position:absolute;
  left:90px;
  top:40px;
  width:370px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:353px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:370px;
  height:1px;
}
#u8 {
  position:absolute;
  left:430px;
  top:20px;
  width:20px;
  height:20px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:30px;
  top:25px;
  width:30px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:20px;
  top:20px;
  width:50px;
  height:30px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:30px;
  top:620px;
  width:420px;
  height:150px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:420px;
  height:150px;
}
#u14 {
  position:absolute;
  left:2px;
  top:67px;
  width:416px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:235px;
  top:750px;
  width:10px;
  height:10px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u16 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:250px;
  top:750px;
  width:10px;
  height:10px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u18 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:220px;
  top:750px;
  width:10px;
  height:10px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u20 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:265px;
  top:750px;
  width:10px;
  height:10px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u22 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:205px;
  top:750px;
  width:10px;
  height:10px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u24 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:48px;
  top:634px;
  width:382px;
  height:116px;
  line-height:20px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  height:116px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:382px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:400px;
  top:634px;
  width:30px;
  height:30px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:402px;
  top:636px;
  width:25px;
  height:25px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:400px;
  top:594px;
  width:30px;
  height:30px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u32 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:408px;
  top:602px;
  width:15px;
  height:15px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u34 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:400px;
  top:554px;
  width:30px;
  height:30px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:405px;
  top:559px;
  width:20px;
  height:20px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
